
.dominoe {
    position: relative;
    background-color: white;
    border: 1px solid black;
    margin-top: 50px;
    margin-right: 200px;
    margin-left: 200px;
    float: left;
}

.horizontal-clock {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
}

.horizontal-counterclock {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
}

.part {
    width: 100%;
    height: 21.333%;
    padding: 8% 0% 8% 0%;
}

.part > div {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: black;
    margin-top: 1px;
}

.line {
    width: 90%;
    height: 2%;
    background-color: black;
    margin-left: 5%;
}

.half {
    width: 70%;
    height: 32%;
    padding: 14%;
}

.right {
    float: right;
}

.left {
    float: left;
}

.middle {
    margin: auto;
}

.table-students {
    width: 200px;
    height: 100px;
    border: 1px solid;
}